.blog-heading{
    color: white;
    position: absolute;
    top: 3200px;
    left: 200px;
    width: 340px;
    font-size:36px;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg1{
    position: absolute;
    height: 288px;
    width: 417px;
    top: 3400px;
    left: 200px;
}
.rect{
    position: absolute;
    height: 400px;
    width: 417px;
    top: 3689px;
    left: 200px;
    background-color: #042C54;
    color: white;
}
.blog-head{
    position: absolute;
    left: 20px;
    top: 100px;
}
.blog-time2{
    position: absolute;
    top: 330px;
}
.bg5{
    position: absolute;
    height: 100px;
    width: 317px;
    top: 3400px;
    left: 700px;
}
.rect2{
    position: absolute;
    height: 280px;
    width: 317px;
    top: 3500px;
    left: 700px;
    background-color: #042C54;
    color: white;
}
.blog-head2{
    position: absolute;
    left: 20px;
    top: 70px;
}
.blog-time3{
    position: absolute;
    left: 5px;
    top: 210px;
}

/* -- */

.bg5{
    position: absolute;
    height: 100px;
    width: 317px;
    top: 3400px;
    left: 700px;
}
.rect2{
    position: absolute;
    height: 280px;
    width: 317px;
    top: 3500px;
    left: 700px;
    background-color: #042C54;
    color: white;
}
.blog-head2{
    position: absolute;
    left: 20px;
    top: 70px;
}
.blog-time3{
    position: absolute;
    left: 5px;
    top: 210px;
}
.bg2,.bg3,.bg4,.bg5{
    height: 100px;
    width: 317px;
}
.bg2{
    position: absolute;
    top: 3400px;
    left: 1080px;
}
.bg3{
    position: absolute;
    top: 3796px;
    left: 1096px;
}
.bg4{
    position: absolute;
    top: 3796px;
    left: 700px;
}
.rect3{
    position: absolute;
    height: 280px;
    width: 317px;
    top: 3500px;
    left: 1080px;
    background-color: #042C54;
    color: white;
}
.rect4{
    position: absolute;
    height: 280px;
    width: 317px;
    top: 3896px;
    left: 1096px;
    background-color: #042C54;
    color: white;
}
.rect5{
    position: absolute;
    height: 280px;
    width: 317px;
    top: 3896px;
    left: 700px;
    background-color: #042C54;
    color: white;
}
